<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @authenticate.user_id %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @authenticate.provider %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @authenticate.uid %>
</p>

<%= link_to 'Edit', edit_authenticate_path(@authenticate) %> |
<%= link_to 'Back', authenticates_path %>
