<!DOCTYPE html>
<html>
<head>
  <title>RailsProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '927829720670625',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<nav id="nav">

    <div id="page_nav">
      <%= link_to "Home", root_path %>
      <%= link_to "Shop", products_path %>
      <%= link_to "About", page_about_path %>
      <%= link_to "FAQs", page_about_path %>
      <%= link_to "Contact", page_contact_path %>
    </div>
<div id="sign_in">
    <% if user_signed_in? %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete%>
    <% else %>
        <%= link_to "Sign In", new_user_session_path %>
        <%= link_to "Sign Up", new_user_registration_path%>
       <%-# <%= link_to "Sign In With Facebook", user_omniauth_authorize_path(:facebook) %>
    <% end %>
  </div>
</nav>

<div id="main_wrap">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</div>


</body>
</html>
